html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
/* border: 0;   */
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}
*{
  box-sizing:border-box;
  max-width:100%;
  padding:0;
  margin:0;
}

h1{
  font-size: 100px;
  text-align:center;
  margin-top:40px;
  margin-bottom:20px;
}

.box{
  padding:15px 40px;
  color:black;
  text-decoration:none;
  border:solid black 2px;
  text-align: center;
  margin:2px;
}

.box1{
  background:black;
  color:white;
}

.allboxes{
  display:flex;
  justify-content:center;
}

h2{
  text-align: center;
  font-size:100px
}

.par1{
  margin-top:30px;
  margin-left:150px;
  margin-right:150px;
  text-align:center;
}

.bigimg{
  width: 100%;
  height: 500px;
  border: solid black 5px;
}

.img4{
  display:flex;
  justify-content:space-evenly;
  margin-top:70px;
  margin-bottom: 20px;
}

.boxes{
  border:solid black 5px;
  width: 300px;
  height: 700px;
}

.p4{
  border:solid black 5px;
  width:300px;
  height:400px;
}

footer{
}

.botback{
  display:flex;
  justify-content: center;
  background:gray;
  height:150px;
  width: 100%;
}

.contactbot{
  text-align:center;
  border: solid black 5px;
  height: 50px;
  width: 10%;
  background:white;
  color:black;
  text-decoration:none;
  margin-top:auto;
  margin-bottom:auto;
}

